/* CSS Document */

body {
	text-align:left;
	font-family:\5B8B\4F53, Arial Narrow, arial, serif;
	background:#ffffff;
	font-size:12px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote {
	padding:0;
	margin:0;
	background-repeat:no-repeat;
}
table, td, tr, th {
	font-size:12px;
}
li {
	list-style-type:none;
}
table {
	margin:0 auto;
}
.center {
	margin:0 auto;
	width:950px;
}
img {
	vertical-align:
top;
	border:0;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:12px;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}
address, caption, cite, code, dfn, em, th, var {
	font-weight:normal;
	font-style:normal;
}
a, a:visited {
	color:#2b2b2b;
	text-decoration:none;
}
a:hover {
	color:#7D0101;
	text-decoration:underline;
}
a:active {
	color:#ba2636;
}
.hong {
	color:#7D0101;
}
.shenhui {
	color:#49494A;
}
.qianhui {
	color:#858585;
}
.f14 {
	font-size:14px;
}
.f40 {
	font-size:40px;
}
.b {
	font-weight:bold;
}
.A {
	font-family:Arial, Helvetica, sans-serif;
}
.bian {
	border-width:1px;
	border-style:solid;
}
.biandi {
	border-bottom:1px solid #C9CBCE;
}
.bshui {
	border-color:#95989E;
}
.bhui {
	border-color:#C9CBCE;
}
.left {
	float:left!important;
}
.right {
	float:right!important;
}
.w171 {
	width:171px;
}
.navtop {
	width:171px;
	height:38px;
}
.navtop1 {
	width:171px;
	height:38px;
}
.height1 {
	height:2px;
	text-align:center;
	overflow:hidden;
}
.nav {
	padding:9px 0 9px 38px;
	text-align:left;
	display:block;
}
.nav1 a:hover {
	background-color:#000000;
	color:#FFFFFF;
	text-decoration:none;
	background-position:0 0px;
}
.tcenter {
	text-align:center;
}
.zhanwei {
	height:4px;
	overflow:hidden;
	clear:both;
}
.zhanwei2 {
	height:8px;
	overflow:hidden;
	clear:both;
}
.w762 {
	width:762px;

}
.rt1 {
	background-position:0 0px;
	*background-position:1px 1px!important;
	*background-position:1px 1px;
}
.rt2 {
	background-position:0 0px;
	*background-position:1px 1px!important;
	*background-position:1px 1px;
}
.daohang100 {
	padding:5px 4px 7px 4px;
	clear:both;
	height:15px;
}
.bai {
	color:#FFFFFF;
}
.tanhao {
	padding-left:25px;
	background-position:0 0px;
	padding-top:3px;
}
.top3 {
	padding-top:3px;
}
.padding {
	padding:5px 0;
}
.bbn {
	border-bottom:none;
}
.nnav {
	background-repeat:repeat-x;
	height:22px;
	border:#C9CBCE 1px solid;
	border-bottom:none;
	padding-left:4px;
	padding-top:3px;
	padding-right:15px;
}
.bnav {
	background-repeat:repeat-x;
	height:22px;
	border:#C9CBCE 1px solid;
	border-top:none;
	padding-left:4px;
	padding-top:3px;
	padding-right:15px;
}
.button, .button:visited {
	
	width:119px;
	height:16px;
	float:left;
	display:block;
	text-align:center;
	padding:2px 0;
	margin-left:8px;
	overflow:hidden;
	border:none;
}
.button:hover {
	background-position:0 -20px;
	text-decoration:none;
	color:#000;
}
.password {
	border-color:#9A9A9A;
	border-style:solid;
	border-width:1px;
	color:#474747;
	font-size:14px;
	font-weight:bold;
	height:21px;
	padding-left:5px;
	padding-top:6px;
	width:208px;
	margin-top:7px;
}
